.left-container, .right-container {
  position: fixed;
  top: 0;
  width: 25vw;
  height: 100vh;
  background: #069db0;
  z-index: 1;
}

.left-container {
  left: 0;
}

.right-container {
  right: 0;
}

#root {
  position: relative;
  z-index: 2;
  margin-left: 25vw;
  margin-right: 25vw;
}
