html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --side-width: 24vw;
  --side-max-width: 200px;
  --side-min-width: 30px;
}

.left-container, .right-container {
  position: fixed;
  top: 0;
  min-width: var(--side-min-width);
  width: var(--side-width);
  max-width: var(--side-max-width);
  height: 100vh;
  background: white;
  z-index: 2;
}

.left-container {
  left: 0;
}

.right-container {
  right: 0;
}

#root {
  position: relative;
  z-index: 1;
  margin-left: calc(var(--side-width) + 1vw);
  margin-right: calc(var(--side-width) + 1vw);
  min-width: 180px;
  max-width: 1200px;
  width: auto;
  box-sizing: border-box;
}

.header, .footer {
  margin-left: calc(var(--side-width) + 1vw);
  margin-right: calc(var(--side-width) + 1vw);
  width: auto;
  min-width: 180px;
  max-width: 1200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  box-sizing: border-box;
}

.header {
  background: #0b9eb0;
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer {
  background: #ccc;
  margin-top: 70px;
}

@media (max-width: 1200px) {
  :root {
    --side-width: 12vw;
    --side-max-width: 90px;
  }
}

@media (max-width: 700px) {
  :root {
    --side-width: 7vw;
    --side-max-width: 50px;
    --side-min-width: 20px;
  }
  #root, .header, .footer {
    min-width: 120px;
  }
}
