.left-container, .right-container {
  position: fixed;
  top: 0;
  width: 25vw;
  height: 100vh;
  background: white;
  z-index: 1;
}

.left-container {
  left: 0;
}

.right-container {
  right: 0;
}

#root {
  position: relative;
  z-index: 2;
  margin-left: 25vw;
  margin-right: 25vw;
}

.header, .footer {
  margin-left: 25vw;
  margin-right: 25vw;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
}

.header {
  background: #0b9eb0;
  margin-bottom: 10px;
}

.footer {
  background: #ccc;
  margin-top: 70px;
}
